[submodule "src/shards-dashboard"]
	path = src/shards-dashboard
	url = https://github.com/DesignRevision/shards-dashboard
	branch = master
[submodule "Submod"]
	url = https://github.com/DesignRevision/shards-dashboard
	path = src/shards-dashboard
	branch = master
